/* line 8, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
html, body {
  line-height: 1.6;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 12, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.customer {
  margin-bottom: 30px; }
  /* line 15, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
  .customer h1 {
    margin-bottom: 0; }

/* line 18, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.customer--mobile {
  font-size: 18px;
  margin-bottom: 10px; }

/* line 22, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.report {
  color: #333;
  background-color: #F9F9F9;
  text-align: center;
  border: 1px solid #E0E0E0; }
  /* line 28, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
  .report:hover {
    -moz-transition: -moz-transform 0.2s ease 0.1s, box-shadow 0.2s ease;
    -o-transition: -o-transform 0.2s ease 0.1s, box-shadow 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease, box-shadow 0.2s ease;
    -webkit-transition-delay: 0.1s, 0s;
    transition: transform 0.2s ease 0.1s, box-shadow 0.2s ease;
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -moz-box-shadow: -8px 0 16px -6px rgba(63, 63, 68, 0.75), 8px 0 16px -6px rgba(63, 63, 68, 0.75);
    -webkit-box-shadow: -8px 0 16px -6px rgba(63, 63, 68, 0.75), 8px 0 16px -6px rgba(63, 63, 68, 0.75);
    box-shadow: -8px 0 16px -6px rgba(63, 63, 68, 0.75), 8px 0 16px -6px rgba(63, 63, 68, 0.75);
    position: relative;
    z-index: 2;
    min-height: auto;
    border: 1px solid #ECECEC; }
  /* line 37, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
  .report li {
    margin: 10px 0 25px;
    font-size: 22px; }
  /* line 41, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
  .report small {
    display: block;
    font-size: 13px; }

/* line 46, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.active .report--title {
  background-color: #DCDCDC; }
/* line 48, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.active .report--content {
  background-color: #EFEFEF; }

/* line 51, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.report--title {
  background-color: #ECECEC;
  padding: 8px;
  min-height: 70px;
  font-size: 16px;
  font-weight: bold;
  color: #6F6F6F; }

/* line 59, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.report--content {
  padding: 4px 8px; }

/* line 62, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
.no-pad {
  padding: 0; }

@media (max-width: 767px) {
  /* line 68, ../../source/mcmaniti/sass-inuitcss/orahq.sass */
  .report {
    margin: 30px 15px; }
}
