//------------------------------------\\
//  #PAGE-HEADER
//------------------------------------\\

.masthead
  height: 100%
  width: 100%
  color: #fff
  background: url("../images/header-summer-bg.jpg") no-repeat center center
  background-size: cover

.masthead__logo-wrapper
  padding-top: 20px

.masthead__logo
  height: 32px
  margin-right: 15px

.masthead__logo--fill
  fill: #fff

.masthead__name
  display: inline-block
  font-size: 18px
  line-height: 18px
  color: #fff

.masthead__name small
  display: block

.masthead__name i
  vertical-align: middle


/* Headline */
.headline__title
  font-size: 60px

.headline__desc
  margin-top: 10px

.headline__desc-border
  border-top: 1px solid #adadad
  margin-top: 6px