<!DOCTYPE html>
<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Lato:300,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/vendor/bootstrap/dist/css/bootstrap.min.css" }}">
  <link rel="stylesheet" href="{{ "/css/marketplace.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.min.css">
	


</head>

<body>
  {{ content }}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/marketplace.js"></script>

</body>

</html>
