<footer class="section-social">

  <div class="section-header">
    <h3>Get in Touch</h3>
    <div class="section--divider"></div>
  </div>

  <div class="section--width">
    <p>I'm always happy to chat with fellow web geeks so feel free to connect with me via the following social media sites or via good old fashioned email.</p>
  </div>

  <div class="social-icons">
  	<ul class="list-inline">
  		<li><a href="http://be.net/nolrm" target="_blank"><i class="fa fa-behance fa-2x"></i></a></li>
  		<li><a href="https://github.com/nolrm" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a></li>
  		<li><a href="http://codepen.io/nolrm/" target="_blank"><i class="fa fa-codepen fa-2x"></i></a></li>
  		<li><a href="http://nz.linkedin.com/pub/marlon-maniti/bb/66b/217" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  		<li><a href="mailto:lonmaniti@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
  	</ul>
  </div>

  <p class="footer--copyright">&#169 2015 Marlon Maniti</p>

</footer>

<link rel="stylesheet" href="{{ "/vendor/bootstrap/dist/css/bootstrap.min.css" }}">

 <script src="{{ "/vendor/jquery/dist/jquery.min.js" }}"></script>
 <script src="{{ "/vendor/scrollreveal/dist/scrollReveal.min.js" }}"></script>
  <script src="{{ "/js/main.js" }}"></script>