<footer class="page-footer">
  <div class="container">
    <span>&#169 2015 Marlon Maniti</span>
    <span class="pull-right">
      <a class="footer__social" href="https://github.com/nolrm" target="_blank"><i class="fa fa-github"></i></a>
      <a class="footer__social" href="http://codepen.io/nolrm/" target="_blank"><i class="fa fa-codepen"></i></a>
      <a class="footer__social" href="http://nz.linkedin.com/pub/marlon-maniti/bb/66b/217" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    </span>
  </div>
</footer>

<link rel="stylesheet" href="{{ "/assets/bower_lib/bootstrap/dist/css/bootstrap.min.css" }}">

 <script src="{{ "/assets/bower_lib/jquery/dist/jquery.min.js" }}"></script>
 <script src="{{ "/assets/bower_lib/scrollreveal/dist/scrollReveal.min.js" }}"></script>
  <script src="{{ "/js/main.js" }}"></script>