@charset "UTF-8";
/* line 3, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 14, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.light hr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff; }

/* line 18, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.dark hr {
  border-top: 1px solid #111;
  border-bottom: 1px solid rgba(102, 102, 102, 0.45); }

/* line 23, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
html,
body {
  height: 100%; }
  /* line 27, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  html.dark,
  body.dark {
    background-color: #333; }
  /* line 29, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  html.light,
  body.light {
    background-color: #fff; }

/* line 32, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.dark .widget {
  border-color: #222;
  background-color: #383838; }
  /* line 36, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .dark .widget .widget-head {
    text-shadow: 0 0.5px 0 #000;
    background-color: #222; }
  /* line 40, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .dark .widget .widget-body-table {
    background-color: #2b2b2b; }
  /* line 43, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .dark .widget .widget-body-table span {
    text-shadow: 0 1px 1px #383838;
    color: #161616; }

/* line 48, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.light .widget {
  border-color: #ddd; }
  /* line 50, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .light .widget .widget-head {
    text-shadow: 0 0.5 #fff;
    background-color: #ddd; }
  /* line 54, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .light .widget .widget-body-table {
    background-color: #fff; }
  /* line 57, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .light .widget .widget-body-table span {
    color: #c8c8c8; }

/* line 60, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.light .widget-container {
  border-right-color: #ddd; }

/* line 63, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.dark .widget-container {
  border-right-color: #222; }

/* line 66, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 25px; }

/* line 75, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget {
  -moz-transition: left 0.1s ease, top 0.1s ease;
  -o-transition: left 0.1s ease, top 0.1s ease;
  -webkit-transition: left 0.1s ease, top 0.1s ease;
  transition: left 0.1s ease, top 0.1s ease; }

/* line 78, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget,
.placeholder {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-align-self: center;
  align-self: center;
  -webkit-flex-basis: 120px;
  flex-basis: 120px;
  position: relative;
  height: 90px;
  margin: 12px 8px;
  padding-top: 12px;
  border-width: 3px;
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  cursor: move; }

/* line 94, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  width: 100%;
  height: 12px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 1px;
  color: orange; }
  /* line 108, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .widget-head:before, .widget-head:after {
    content: "•"; }
  /* line 110, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .widget-head:before {
    color: tomato; }
  /* line 112, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .widget-head:after {
    color: #00b300; }

/* line 117, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget-body-table {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 2px 8px; }

/* line 124, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget-body-table .framework {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 12px;
  height: 12px;
  opacity: 0.25; }

/* line 134, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.widget-body-content {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle; }
  /* line 140, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
  .widget-body-content span {
    font-size: 40px; }

/* line 143, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.placeholder {
  border: 1px solid orange;
  background-color: rgba(255, 165, 0, 0.25); }

/* line 147, ../../source/mcmaniti/sass-inuitcss/sortable.sass */
.ui-sortable-helper {
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  -moz-box-shadow: 0 32px 32px -16px rgba(66, 66, 66, 0.65);
  -webkit-box-shadow: 0 32px 32px -16px rgba(66, 66, 66, 0.65);
  box-shadow: 0 32px 32px -16px rgba(66, 66, 66, 0.65); }
