//------------------------------------\\
//  ANIMATE PULSE
//------------------------------------\\

#pulse-wrapper
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  background-color: #181d27
  color: #CECECE

  a
    color: #fff

   
.pulse-logo
  width: 90px
  margin: 0 auto
  @include animation(pulsate 6s cubic-bezier(.73,.005,.42,1.005) infinite)
  
  
// keyframes mixin
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

// use of keyframes mixin
+keyframes(pulsate)
  0%
    opacity: .1
  50%
    opacity: .5
  100%
    opacity: .1
